.container-fluid img{
    width: 20%;
    margin: 6px 0px 10px 0px;
    display: inline;
}

.card{
    color:black;
    text-decoration: none; 
    background-color: none;
}

div.card img {
    height: 200px;
    width: 400px;
}

.card:hover{
    transform: scale(1.2);
    cursor: pointer;
}

a:link{
    text-decoration: none;
}


